* {
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

.body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  position: relative;
}

/*CONTAINER LEFT STYLES*/

.container__left {
  width: 720px;
  height: 1024px;
  background: linear-gradient(
      195.81deg,
      rgba(54, 76, 106, 0.9) 3.19%,
      rgba(45, 60, 83, 0.9) 98.05%
    ),
    url(img/bg.jpeg) 100%;
  background-size: 720px 1024px;
  position: relative;
}

.container__left-txt {
  position: absolute;
  top: 600px;
  left: 80px;
  width: 375px;
}

.container__left-h1 {
  font-size: 24px;
  color: #fcfcfd;
  line-height: 32px;
  margin: 8px 0;
}

.container__left-p {
  font-size: 13px;
  line-height: 20px;
  color: #d8dde3;
  margin: 8px 0;
}

/*CONTAINER RIGHT STYLES*/

.container__right {
  width: 720px;
  height: 1024px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__right-block {
  display: block;
  flex-direction: column;
  padding: 16px 24px;
  width: 400px;
}

.container__right-form {
  display: flex;
  flex-direction: column;
}

.container__right-img {
  display: block;
  text-align: center;
  margin-bottom: 56px;
}

.container__right-top {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 8px;
}

.container__right-bottom {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 20px;
  font-style: normal;
  margin-bottom: 40px;
}

.container__right-p {
  margin: 0;
  font-weight: 400;
}

.container__right-link {
  padding-left: 8px;
  font-weight: 500;
}

.container__right-link {
  color: #3dc1d3;
}

.container__right-password {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #3dc1d3;
  text-align: right;
  margin-bottom: 40px;
}

.input-top,
.input-bottom {
  width: 400px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #d8dde3;
  box-sizing: border-box;
  padding: 10px 16px;
  font-size: 13px;
  margin-bottom: 20px;
}

.input-bottom {
  margin-bottom: 8px;
}

.text-label,
.password-label {
  margin-bottom: 5px;
}

.container__right-button {
  background: #3dc1d3;
  border-radius: 6px;
  color: #fff;
  padding: 6px 16px;
  font-size: 13px;
  line-height: 20px;
  border: none;
}
